.mainchat
  .mainchat__messageinfo
    .mainchat__messageinfo__leftbox
      .mainchat__messageinfo__leftbox__current__group
        = @group.name
      %ul.mainchat__messageinfo__leftbox__menberlist
        Menber :
        %li.mainchat__messageinfo__leftbox__menberlist__menber
          = current_user.name
    .mainchat__messageinfo__edit__btn
      = link_to edit_group_path(params[:group_id]), class: 'editbtn' do
        Edit
        
  .mainchat__messagelist
    = render @messages

  = form_for [@group, @message] do |f|
    .mainchat__messageform
      .mainchat__messageform__newmessage
        = f.text_field :content, placeholder: "type a message", class: 'mainchat__messageform__newmessage__inputbox__text'
        .mainchat__messageform__newmessage__inputbox
          = f.label :image, class: "inputbox__image" do
            = icon('fas', 'image')
            = f.file_field :image, class: 'inputbox__image__file'
        = f.submit 'Send', class: 'mainchat__messageform__newmessage__submit__btn'