.sidebar
  .sidebar__username
    .sidebar__username__topitems
      %p.sidebar__username__topitems__name
        = current_user.name
      %ul.sidebar__username__topitems__menu
        %li.siderbar__username__topitems__edituser
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'edit')
        %li.siderbar__username__topitems__newgroup
          =link_to new_group_path do
            = icon('fas', 'cog', class: 'icon',)

  .sidebar__grouplist
    - current_user.groups.each do |group|
      .sidebar__grouplist__group
        = link_to group_messages_path(group), class: "group_link" do
          %p.group__group__name
            = group.name
          %p.group__latest__message
            = group.show_last_message